/* Le code ci-dessous correspond à la version responsive uniquement */

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {


    .main-container {
        padding: 0;
    }

    body {
        margin: 0;
    }

    /*********** Header ***********/

    header {
        flex-direction: column;
        justify-content: center;
        padding: 0; 
    }

    #logo {
        object-fit: contain;
        height: 20px;
        padding: 30px;
        padding-left: 0;
    }

    /****** Form And Filter ***********/

    ul {
        padding: 0;
    }

    ul .ancre {
        padding: 10px 50px 10px 50px;
        font-size: 1em;
    }

    ul li {
        font-size: 1em;
        text-align: center;
    }
    ul li{
        flex: 1;
        list-style-type: none;
        border-bottom: #D9D9D9 solid 1px;
    
    }

    ul li:hover {
        flex: 1;
        border-top : none;
        border-bottom: #0065FC solid 1px;
        color: #0065FC;
        padding-left: 25px;
    }

    li a:hover {
        border-top: none;
    }

    .container-section_formfilter {
        padding: 0;
    }

    .formFilter {
        margin: 0px 10px;
    }

    .search {
        display: none;
    }

    .fas.fa-search {
        display: block;
    }

    .container-filterButton {
        display: flex;
        flex-direction: column;
    }

    .filterButton {
        width: 49%;
        height: 50px;
        margin-bottom: 15px;
        margin-right: 0;
    }

    .filterButton .textButton {
        font-size: 14px;
    }

    .filterColumn {
        justify-content: space-between;
    }


    /****** Hebergements And Populaires ***********/

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-cards {
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

    /****** Populaires ***********/

    .populaires-cards {
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
    }


    .hebergements-and-populaires section {
        border-radius: 0;
        background-color: white;

    }

    section.populaires {
        margin: 30px 0;
        padding: 40px 10px;
        background-color: #F2F2F2
        
    }

    /****** Hebergements ***********/

    #hebergements {
        padding: 40px 10px;
    }

    .hebergements-cards a {
        width: 100%;
    }

    #hebergements .card {
        width: 100%;
    }

    /**************** Activités *************/

    #activites {
        margin: 40px 10px;
        padding: 0px;
    }

    .container-activites {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    a {
        width: 100%;
        margin: 0;
    }

    .container-activites a{
        margin: 15px 10px;
        width: 95%;
    }

    .container-activites .card {
        margin-right: 10px;
        width: 100%;
    }

    .container-activites .card img {
        width: 100%;
    }

    /******** Footer ************/

    footer {
        background-color: #F2F2F2;
        flex-direction: column;
    }

}